<script>
  import { quintOut } from 'svelte/easing';
  import { crossfade } from 'svelte/transition';
  import { flip } from 'svelte/animate';
  import Icon from 'svelte-awesome';
  import { faCheck, faExclamationTriangle, faInfo } from '@fortawesome/free-solid-svg-icons';
  import notificationStore from '../stores/notifications';
  import ProgressBar from './ProgressBar.svelte';

  const [send, receive] = crossfade({
    duration: (d) => Math.sqrt(d * 200),

    fallback(node, params) {
      const style = getComputedStyle(node);
      const transform = style.transform === 'none' ? '' : style.transform;

      return {
        duration: 600,
        easing: quintOut,
        css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`,
      };
    },
  });

  $: icon = (type) => {
    switch (type) {
      case 'success':
        return faCheck;
      case 'warning':
      case 'danger':
        return faExclamationTriangle;
      case 'info':
        return faInfo;
    }
  };
</script>

<div class="notification-wrapper">
  {#each $notificationStore.notifications.slice(0, 3) as notification, index (notification.id)}
    <div
      in:receive="{{ key: notification.id }}"
      out:send="{{ key: notification.id }}"
      animate:flip="{{ duration: 200 }}"
      class="notification-item"
      class:notification-item-first="{index == 0}"
      class:notification-item-second="{index == 1}"
      class:notification-item-third="{index == 2}">
      <div class="notification-container-icon">
        <div class="notification-background-icon text-white bg-gradient-{notification.type}">
          <Icon data="{icon(notification.type)}" scale="0.8" />
        </div>
      </div>
      <div class="notification-informations">
        {#if notification.title}
          <p class="notification-title">
            {notification.title}
          </p>
        {/if}
        {#if notification.content}
          <p class="notification-content">
            {notification.content}
          </p>
        {/if}
				<!-- <button color="link" on:click="{() => notification.actionFn()}" class="font-bold notification-action">
					{notification.actionLabel}
        </button> -->
      </div>
      {#if index === 0}
        <div
          class="btn-close btn-close-notification"
          on:click="{() => notificationStore.removeNotification(notification.id)}">
        </div>
        <ProgressBar
          duration="{notification.duration}"
          backgroundColor="transparent"
          barColorClass="bg-gradient-{notification.type}" />
      {/if}
    </div>
  {/each}
</div>

<style type="scss">
.notification-center {
  left: 260px;
  z-index: 1;

  @media (min-width: 1200px) {
    width: 260px;
  }
  @media (max-width: 1199px) {
    width: 50px;
  }
  @media (max-width: 768px) {
    @apply w-0;
  }
}

.notification-wrapper {
  @apply fixed;
  z-index: 1080;
  right: 30px;
  top: 30px;

  .notification-item {
    @apply absolute flex bg-white;
    height: 110px;
    min-height: 110px;
    max-height: 110px;
    min-width: 360px;
    max-width: 500px;
    margin-bottom: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 -2px 6px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease;
    padding: 0.5rem 0.25rem;

    &.notification-item-first {
      @apply top-0 right-0;
      z-index: 3;
    }

    &.notification-item-second {
      top: -8px;
      right: -8px;
      z-index: 2;
    }

    &.notification-item-third {
      top: -16px;
      right: -16px;
      z-index: 1;
    }

    .btn-close-notification {
      @apply cursor-pointer absolute box-content p-1 text-black border-none rounded opacity-50;
      width: 1em;
      height: 1em;
      background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
      top: 7px;
      right: 7px;
    }

    .notification-informations {
      .notification-content {
        @apply overflow-hidden overflow-ellipsis;
        margin: 3px 0;
      }
      .notification-action {
        @apply text-left text-base w-auto;
        color: #00cb94;
      }
    }
  }
}

.alert-item {
  @apply h-auto w-auto max-w-full relative flex bg-white p-1;
  min-height: 80px;
  border: 1px solid #dee2e6 !important;
  min-width: 260px;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
  transition: all 0.25s ease;

  .notification-informations {
    @apply p-4 pl-0;
  }
}

.notification-container-icon {
  @apply flex items-center justify-center;
  width: 70px;
  min-width: 70px;
  max-width: 70px;

  .notification-background-icon {
    @apply flex items-center justify-center rounded-full;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
  }
}

.notification-informations {
  @apply flex flex-col justify-center w-auto;

  .notification-title {
    @apply mb-0 text-base;
    width: calc(100% - 25px);
  }
  .notification-content {
    @apply mb-0;
    color: #adb5bd;
  }
}

.progress-bar {
  @apply absolute w-full left-0 border-none;
  height: 5px;
  bottom: -5px;

  .bar {
    @apply w-full absolute left-0 bottom-0;
    height: 5px;
  }
}
</style>
