<script>
  import { onMount } from 'svelte';

  export let duration = 5000;
  export let backgroundColor = '';
  export let backgroundColorClass = '';
  export let barColor = '';
  export let barColorClass = '';

  let bar;

  onMount(() => {
    bar.style.width = '0%';
  });
</script>

<div class="progress-bar w-full absolute left-0 border-none {backgroundColorClass}" style="background: {backgroundColor};">
  <div
    class="bar w-full absolute left-0 bottom-0 {barColorClass}"
    style="background: {barColor}; transition: all {duration}ms linear;"
    bind:this="{bar}">
  </div>
</div>

<style type="scss">
	.progress-bar {
		height: 5px;
		bottom: -5px;
    .bar {
      height: 5px;
    }
	}
</style>