<script>
  import './lib/TailwindCSS.svelte'
  import NotificationPopups from './components/NotificationPopups.svelte';
	import notifications from './stores/notifications';
	
	const handleNotifications = () => {
		notifications.pushNotification({
			title: "Succès",
			content: "Lorem ipsum dolor sit amet.",
			type: 'success',
			duration: 5000,
		});
		notifications.pushNotification({
			title: "Erreur",
			content: "Lorem ipsum dolor sit amet.",
			type: 'danger',
			duration: 5000,
		});
		notifications.pushNotification({
			title: 'Attention',
			content: "Lorem ipsum dolor sit amet.",
			type: 'warning',
			duration: 5000,
		});
		notifications.pushNotification({
			title: 'Information',
			content: 'Lorem ipsum dolor sit amet',
			type: 'info',
			duration: Infinity,
		});
	}
</script>

<NotificationPopups />

<div class="flex justify-center items-center w-screen h-screen">
	<button class="bg-blue-500 hover:bg-blue-400 transition-all text-white text-2xl font-light px-5 py-2 rounded shadow-md outline-none" on:click={handleNotifications} >
		Click me !
	</button>
</div>

<style lang="scss" global>
  .bg-gradient-info {
		background: linear-gradient(63deg, #24d5f8 0%, #0dcaf0 100%);
	}
	.bg-info {
		background: #0dcaf0;
	}
	.bg-gradient-success {
		background: linear-gradient(63deg, #0bdda4 0%, #00cb94 100%);
	}
	.bg-success {
		background: #00cb94;
	}
	.bg-gradient-warning {
		background: linear-gradient(63deg, #e4a840 0%, #db9e35 100%);
	}
	.bg-warning {
		background: #db9e35;
	}
	.bg-gradient-danger {
		background: linear-gradient(63deg, #ee5363 0%, #dc3545 100%);
	}
	.bg-danger {
		background: #dc3545;
	}
</style>